<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <servlet>
    <servlet-name>login_servlet</servlet-name>
    <servlet-class>com.AdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>login_servlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>student</servlet-name>
    <servlet-class>com.StudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>student</servlet-name>
    <url-pattern>/StudentAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>teacher</servlet-name>
    <servlet-class>com.TeacherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>teacher</servlet-name>
    <url-pattern>/TeacherAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>payment_servlet</servlet-name>
    <servlet-class>com.PaymentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>payment_servlet</servlet-name>
    <url-pattern>/PaymentServlet</url-pattern>
  </servlet-mapping>
 <servlet>
    <servlet-name>action_servlet</servlet-name>
    <servlet-class>com.ActionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>action_servlet</servlet-name>
    <url-pattern>/ServletAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>payment_mail</servlet-name>
    <servlet-class>com.PaymentMail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>payment_mail</servlet-name>
    <url-pattern>/PaymentMail</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>email</servlet-name>
    <servlet-class>com.SendEmail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>email</servlet-name>
    <url-pattern>/EmailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>emailcsv</servlet-name>
    <servlet-class>com.EmailCsvFile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>emailcsv</servlet-name>
    <url-pattern>/EmailCSV</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>press</servlet-name>
    <servlet-class>com.Press</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>press</servlet-name>
    <url-pattern>/press</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>mediaEntry</servlet-name>
    <servlet-class>com.Media_</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>mediaEntry</servlet-name>
    <url-pattern>/Media</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>mediaImage</servlet-name>
    <servlet-class>com.MediaImage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>mediaImage</servlet-name>
    <url-pattern>/MediaImage</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>deleteMedia</servlet-name>
    <servlet-class>com.Delete_Media</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteMedia</servlet-name>
    <url-pattern>/Delete_Media</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>UpdateMedia</servlet-name>
    <servlet-class>com.Update_Media</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateMedia</servlet-name>
    <url-pattern>/Update_Media</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>details</servlet-name>
    <servlet-class>com.Page_Details</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>details</servlet-name>
    <url-pattern>/Page_Details</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>video</servlet-name>
    <servlet-class>com.VideoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>video</servlet-name>
    <url-pattern>/VideoServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>free</servlet-name>
    <servlet-class>com.FreeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>free</servlet-name>
    <url-pattern>/FreeServlet</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>call</servlet-name>
    <servlet-class>com.callback</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>call</servlet-name>
    <url-pattern>/callback</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>contact</servlet-name>
    <servlet-class>com.Contact</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>contact</servlet-name>
    <url-pattern>/Contact</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>chat</servlet-name>
    <servlet-class>com.ChatQuery</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>chat</servlet-name>
    <url-pattern>/ChatQuery</url-pattern>
  </servlet-mapping>
  
     <servlet>
    <servlet-name>view_student</servlet-name>
    <servlet-class>com.ViewStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>view_student</servlet-name>
    <url-pattern>/ViewStudent</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>un_student</servlet-name>
    <servlet-class>com.Unalloted</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>un_student</servlet-name>
    <url-pattern>/Unalloted</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>phonecsv</servlet-name>
    <servlet-class>com.PhoneCsvFile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>phonecsv</servlet-name>
    <url-pattern>/PhoneCSV</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>acount</servlet-name>
    <servlet-class>com.SEOServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>acount</servlet-name>
    <url-pattern>/seoacount</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>payment_action</servlet-name>
    <servlet-class>com.PaymentAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>payment_action</servlet-name>
    <url-pattern>/PaymentAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>notification_servlet</servlet-name>
    <servlet-class>com.MyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>notification_servlet</servlet-name>
    <url-pattern>/Notification</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>livedemo</servlet-name>
    <servlet-class>com.LiveDemoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>livedemo</servlet-name>
    <url-pattern>/livedemo.do</url-pattern>
  </servlet-mapping>
  <servlet>
        <servlet-name>AddPhoto</servlet-name>
        <servlet-class>com.AddPhotoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayPhotoServlet</servlet-name>
        <servlet-class>com.DisplayPhotoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddPhoto</servlet-name>
        <url-pattern>/addphoto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayPhotoServlet</servlet-name>
        <url-pattern>/displayphoto</url-pattern>
    </servlet-mapping>
  <context-param>
    <description>database driver</description>
    <param-name>driver</param-name>
    <param-value>com.mysql.jdbc.Driver</param-value>
</context-param>
	<error-page>
  		<error-code>404</error-code>
  		<location>/404.jsp</location>
	</error-page>
	<error-page>
  		<error-code>500</error-code>
  		<location>/500.jsp</location>
	</error-page>
  <welcome-file-list>
    <welcome-file>AdminLogin.jsp</welcome-file>
    <welcome-file>AdminMain.jsp</welcome-file>
  </welcome-file-list>
   <listener>
  <listener-class>
   com.ConcurrentUserTracker
  </listener-class>
	</listener>
  <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>